body {
  .button {
    text-transform: none;
    font-size: 14px;
    font-family: sans-serif;
    padding: 4px 16px;
    transition: all 0.2s;

    &.primary {
      background: #276add;
      color: white;
    }

    &.secondary {
      background: white;
      color: #276add;
    }
  }
}
